/**
 * Colors
 *
 * All colors used in the project should be declared here.
 */

$base-text-color: #444;
$base-selected-text-color: invert($base-text-color);
$base-selected-text-background-color: $base-text-color;

$base-link-color: #000;
$base-link-hover-color: #c60929;
$button-hover-color: #9c0721;

$main-bg: white;
