# Ignore node packages.
.npm/node_modules

# Ignore bower components
.npm/bower_components

# Ignore visual test screenshots except baseline ones
.npm/screenshots/*/*.diff.png
.npm/screenshots/*/*.fail.png
.npm/failures/
