/*
**  Importing Google fonts
*/

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600|Crimson+Text:400,700);

/*
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?16353214');
  src: url('../fonts/fontello.eot?16353214#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?16353214') format('woff'),
  url('../fonts/fontello.ttf?16353214') format('truetype'),
  url('../fonts/fontello.svg?16353214#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16353214#fontello') format('svg');
  }
}
*/
