main {
  @include full-width;
}

.container {
  @include outer-container();
}

.main-content {
  @include full-width;
}

.row {
  @include row;
}

.page {
  padding-top:60px;
  position: relative;
  z-index:1;

  @include media($tablet) {
    padding-top:72px;
  }
}
