@mixin reset-list($display: block) {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;

      @if $display == inline {
        display: inline-block;
      } @else {
        display: $display;
      }
    }
  }
}

@mixin font($font,$size) {
  @if $font == sans {
    font-family: $font-source-sans;
    font-weight: 600;
  }
  @if $font == serif {
    font-family: $font-crimson-text;
  }
  font-size: $size + px;
}

@mixin full-width() {
  display:block;
  width:100%;
  float:left;
}
