nav.pager {
  @include full-width;
  padding:20px;
  border-top:1px solid $gray-lighter;

  ul {
    @include outer-container(676px);
    @include font(sans, 18);

    text-align: center;

    li {
      display: inline-block;
      float: none;
      margin:0 12px;

      &.pager__item--last,
      &.pager__item--first{
        display: none;
      }

      a {
        color: $black;
      }

      &.is-active {
        a {
          color: $gray-light;
        }
      }
    }
  }
}
