/* -----------------------------------------------------------------------

DEFAULTS

----------------------------------------------------------------------- */

// Default box-sizing border box
$default-border-box: true !default;

// Disable outlines
$default-disable-outline: false !default;

// Fontawesome path to font
$fa-font-path: "../../bower_components/font-awesome/fonts";