// =======================================================================//
// Settings                                                               //
// =======================================================================//

// Default box-sizing border box
$default-border-box: true !default;

// Disable outlines
$default-disable-outline: false !default;

// Remove all lists padding and margins
$default-clean-lists: true !default;

// Fontawesome path to font
$fa-font-path: "../../bower_components/font-awesome/fonts";