// =======================================================================//
// Typography settings                                                    //
// =======================================================================//

// Base font size in px
$base-font-size: 16px;

// Base line height in em
$base-line-height: 1.5em;

// Base font stack: Arial
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
